.nav-auth {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-auth__routes {
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: flex-end;
}

.nav-auth__routes_none {
  display: none;
}

.nav-auth__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-right: 16px;
}

.nav-auth__link:hover {
  opacity: 0.8;
}

.nav-auth__link:last-of-type {
  margin-right: 0;
}

.nav-auth__link_type_registration {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 30px;
}

.nav-auth__link_type_login {
  color: #fff;
  background-color: #3456f3;
  border-radius: 3px;
  border: none;
  padding: 8px 20px;
}

.nav-auth__link_type_account {
  background: #f4f4f4;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .nav-auth__routes {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .nav-auth__link {
    font-size: 10px;
    line-height: 16px;
  }

  .nav-auth__link_type_registration {
    margin-right: 14px;
  }
}
