.button {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button_type_default {
  color: #000;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.button_type_default:hover {
  opacity: 0.7;
}

.button_type_blue {
  color: #fff;
  background-color: #3456f3;
  border-radius: 3px;
  border: none;
  padding: 8px 20px;
  margin: 0;
}
