.header {
  position: relative;
  padding: 0 70px;
  background-color: #dddee3;
  justify-items: center;
  min-height: 74px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.header_theme_white {
  background-color: #fafafa;
}

.header__logo-wrapper {
  flex-basis: 100px;
  justify-self: flex-start;
}

.header__menu {
  margin: 0;
  display: flex;
}

.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
  margin: auto 0;
  transition: opacity 0.3s ease-in-out;
}

.header__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 0 14px;
  }

  .header__link {
    font-size: 10px;
  }
}
