.blackout {
  position: fixed;
  z-index: 2000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.3;
}

.side-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 524px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 25px 90px;
  background-color: #fafafa;
  z-index: 3000;
  transform: translateX(100%);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.side-menu_opened {
  transform: translateX(0%);
}

.side-menu__button-close {
  align-self: flex-end;
  width: 22px;
  height: 22px;
  background-image: url(../../images/cross.svg);
  background-position: center center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.side-menu__button-close:hover {
  opacity: .7;
}

.side-menu__account {
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: flex-end;
}

.side-menu__account-link {
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #f4f4f4;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 14px;
}

.side-menu__account-link:hover {
  opacity: 0.8;
}